# SPDX-FileCopyrightText: Josef Andersson
#
# SPDX-License-Identifier: CC0-1.0

---
name: Golang Lint
on: [workflow_call] # yamllint disable-line rule:truthy

permissions:
  contents: read

jobs:
  golangci:
    name: GolangCI-Lint analysis
    runs-on: ubuntu-latest
    steps:
      - name: Harden GitHub runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: "stable"
          cache: false

      - name: Generate mocks
        run: |
          go install github.com/vektra/mockery/v2@v2.46.0
          go mod tidy
          ./scripts/generatemock.sh

      - name: golangci-Lint analysis
        uses: golangci/golangci-lint-action@051d91933864810ecd5e2ea2cfd98f6a5bca5347 # v6.3.2
        with:
          skip-cache: true
          skip-save-cache: true
          version: latest
