# SPDX-FileCopyrightText: Josef Andersson
#
# SPDX-License-Identifier: CC0-1.0
---
name: MegaLinter
on:
  workflow_call: # yamllint disable-line rule:truthy

permissions:
  contents: read
  security-events: write

env:
  MEGALINTER_CONFIG: /development/megalinter.yml

jobs:
  megalinter:
    name: Megalinter analysis
    runs-on: ubuntu-latest
    steps:
      - name: Harden GitHub runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 #v2.10.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 #v4.2.1
        with:
          fetch-depth: 10

      - name: MegaLinter lint
        id: ml
        uses: oxsecurity/megalinter@c217fe8f7bc9207062a084e989bd97efd56e7b9a #v8.0.0

      - name: Archive MegaLinter artifacts
        if: always()
        uses: actions/upload-artifact@604373da6381bf24206979c74d06a550515601b9 #v4.4.1
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
          retention-days: 5

      - name: Upload MegaLinter scan results to GitHub Security tab
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "megalinter-reports/megalinter-report.sarif"
