# SPDX-FileCopyrightText: 2025 itiquette/git-provider-sync
#
# SPDX-License-Identifier: CC0-1.0

---
name: OpenSSF Scorecard analysis
on:
  push:
    branches:
      - main
  schedule:
    # Weekly on Saturdays.
    - cron: "30 1 * * 6"

permissions:
  contents: read

jobs:
  scorecard-analysis:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: itiquette/.github/.github/workflows/openssf-scorecard.yml@main
