# SPDX-FileCopyrightText: Josef Andersson
#
# SPDX-License-Identifier: CC0-1.0

---
name: Golang Test

on: [workflow_call] # yamllint disable-line rule:truthy

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.23.0"]
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Harden GitHub runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 #v2.10.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 #v4.2.0

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 #v5.0.2
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: Go test run
        run: |
          go install github.com/vektra/mockery/v2@v2.46.0
          go mod tidy
          ./scripts/generatemock.sh
          # shellcheck disable=SC2046
          go test -count=1 $(go list './...' | grep -v generated)
